.content {
	margin-top: 50px;
}
.undecorated-link:hover {
	text-decoration: none;
}
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
	display: none !important;
}
.ng-invalid.ng-dirty {
	border-color: #FA787E;
}
.ng-valid.ng-dirty {
	border-color: #78FA89;
}
.browsehappy.jumbotron.hide,
body.ng-cloak
{
	display: block;
}

body {
	background-color: #EEEEEE
}

.jumbotron {
	padding-top: 15%;
	padding-bottom: 15%;
	background-color: #FFFFFF;
}

.container {
	width: 100%;
}

.form-bg {
	background-color: #FFFFFF;
	border: 15px solid;
	border-radius: 15px;
	border-color: #FFFFFF;
	margin-top: 5%;
}

.form-post-bg {
	background-color: #FFFFFF;
	border: 15px solid;
	border-radius: 15px;
	border-color: #FFFFFF;
	margin-top: 1%;
}

.profile-container {
	padding-bottom: 1%;
}




