<section data-ng-controller="UserProfileController">
    <div class="row form-bg">
        <h3 class="text-center">Welcome,
            {{user.salutation}}
            {{user.firstName}}!
        </h3>

        <div class="row">
            <div class="panel col-lg-4">
                <div class="panel-heading">
					<h3> Profile </h3>
				</div>

                <div class="panel-body">
                    <p> First Name: {{user.firstName}} </p>
                    <p> Last Name: {{user.lastName}} </p>
                    <p> Gender: {{user.gender}} </p>
                    <p> Salutation: {{user.salutation}} </p>

                    <!-- <p> Password: {{user.password}} </p> -->
					<p>
						Birthdate:
						<tag ng-bind="user.birthdate | date:'MM/dd/yyyy'">
						</tag>
					</p>
					<p> About Me: {{user.aboutMe}} </p>
					<p> Username: {{user.username}} </p>
                </div>
            </div>
			<div class="panel col-lg-8">
				<div class="panel-heading">
					<h3> Message Board </h3>
				</div>

				<div class="panel-body">
					<table class="table table-hover">
						<tr>
							<div>
								<div class = "row">
									<div class = "col-sm-4"> <a href = "#"> First Name </a> </div>
									<div class = "col-sm-8"> Date Posted </div>									</td>
								</div>
								<div class = "row">
									<div class = "col-sm-4"> Username </div>
									<div class = "col-sm-8"> POST </div>
								</div>
								<div class = "row">
									<div class = "col-sm-4"> Date Joined </div>
									<div class = "col-sm-8"> Edited date </div>
								</div>
							</div>

						</tr>
					</table>





				</div>

				<div class="panel-footer col-lg-6 col-lg-offset-3">
					<nav>
						<ul class="pagination">
							<li>
								<a href="#" aria-label="Previous">
									<span aria-hidden="true">&laquo;</span>
								</a>
							</li>
							<li><a href="#">1</a></li>
							<li><a href="#">2</a></li>
							<li><a href="#">3</a></li>
							<li><a href="#">4</a></li>
							<li><a href="#">5</a></li>
							<li>
								<a href="#" aria-label="Next">
									<span aria-hidden="true">&raquo;</span>
								</a>
							</li>
						</ul>
					</nav>
				</div>

			</div>
		</div>
    </div>
</section>
