<section data-ng-controller="ItemsCreateController">
    <div class="col-md-7 col-md-offset-2 form-bg">
		<div class="page-header text-center">
			<h2>Add Item</h2>
		</div>
        <!--<form class="" novalidate>-->
            <!--<fieldset>-->
				<div class="row form-group">
					<div class="col-md-6 col-md-offset-3">
						<!-- uploader.queue.length -->
						<span ng-hide="isProceed === true">
							<input type="file" class="form-control"  ng-change="imageStatus()" uploader="uploader" nv-file-select/>
						</span>
					</div>
					<div class="col-md-1" ng-hide="isProceed === true" ng-disabled="isImagePresent === false">
						<button class="btn btn-success" ng-click="uploadImage()">Upload</button>
					</div>
				</div>
				<div class="row form-group" ng-show="isProceed === true">
					<div class="col-md-3 col-md-offset-5">
						<img src="/modules/items/img/image{{filename}}" height="140" width="140" alt="Item Preview"
							 class="img-thumbnail"/>
					</div>
				</div>
				<div class="row form-group" ng-show="isProceed === true">
					<div class="col-md-6 col-md-offset-3">
						<input type="text" data-ng-model="name" id="name"
							   class="form-control" placeholder="Name" required/>
					</div>
				</div>
				<div class="row form-group" ng-show="isProceed === true">
					<div class="col-md-6 col-md-offset-3">
						<input type="number" data-ng-model="price" id="price"
							   class="form-control" placeholder="0.00" required/>
					</div>
				</div>
				<div class="row form-group" ng-show="isProceed === true">
					<div class="col-md-6 col-md-offset-3">
						<input type="text" data-ng-model="description" id="description"
							   class="form-control" placeholder="Description" required/>
					</div>
				</div>
                <div class="row form-group" ng-show="isProceed === true">
					<div class="col-md-6 col-md-offset-3">
						<button type="button" class="btn btn-block btn-success" ng-click="create()">Add Item</button>
					</div>
                </div>
				<div data-ng-show="error" class="text-danger">
					<strong data-ng-bind="error"></strong>
				</div>
            <!--</fieldset>-->
        <!--</form>-->
    </div>
</section>
