<section data-ng-controller="ItemsController as itemsCtrl" data-ng-init="find()">
    <div class="page-header">
        <h1>Items</h1>
    </div>
	<div class="row">
		<div class="col-md-offset-2 col-md-1">
			<label>$5</label>
		</div>
		<div class="col-md-1">
			<form action="https://www.sandbox.paypal.com/cgi-bin/webscr" method="post" target="_top">
				<input type="hidden" name="cmd" value="_s-xclick">
				<input type="hidden" name="hosted_button_id" value="Z594LP44ZLJ44">
				<input type="image" src="https://www.sandbox.paypal.com/en_US/i/btn/btn_donate_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
				<img alt="" border="0" src="https://www.sandbox.paypal.com/en_US/i/scr/pixel.gif" width="1" height="1">
			</form>
		</div>
	</div>
	<div class="row">
		<div class="col-md-offset-2 col-md-1">
			<label>$10</label>
		</div>
		<div class="col-md-1">
			<form action="https://www.sandbox.paypal.com/cgi-bin/webscr" method="post" target="_top">
				<input type="hidden" name="cmd" value="_s-xclick">
				<input type="hidden" name="hosted_button_id" value="32URRBZC9YHUN">
				<input type="image" src="https://www.sandbox.paypal.com/en_US/i/btn/btn_donate_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
				<img alt="" border="0" src="https://www.sandbox.paypal.com/en_US/i/scr/pixel.gif" width="1" height="1">
			</form>
		</div>
	</div>
	<div class="row">
		<div class="col-md-offset-2 col-md-1">
			<label>$15</label>
		</div>
		<div class="col-md-1">
			<form action="https://www.sandbox.paypal.com/cgi-bin/webscr" method="post" target="_top">
				<input type="hidden" name="cmd" value="_s-xclick">
				<input type="hidden" name="hosted_button_id" value="744KDNFY5TAB6">
				<input type="image" src="https://www.sandbox.paypal.com/en_US/i/btn/btn_donate_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
				<img alt="" border="0" src="https://www.sandbox.paypal.com/en_US/i/scr/pixel.gif" width="1" height="1">
			</form>
		</div>
	</div>
    <div class="list-group">
        <!--<a data-ng-repeat="item in items" data-ng-href="#!/items/{{item._id}}" class="list-group-item">-->
			<!--&lt;!&ndash;<small class="list-group-item-text">&ndash;&gt;-->
				<!--&lt;!&ndash;Posted on&ndash;&gt;-->
				<!--&lt;!&ndash;<span data-ng-bind="item.created | date:'medium'"></span>&ndash;&gt;-->
				<!--&lt;!&ndash;by&ndash;&gt;-->
				<!--&lt;!&ndash;<span data-ng-bind="item.user.displayName"></span>&ndash;&gt;-->
			<!--</small>-->
			<!--<h4 class="list-group-item-heading" data-ng-bind="item.name"></h4>-->
			<!-- -->
			<!--<button> hello </button>-->
        <!--</a>-->
		<div data-ng-repeat="item in items" class = "row list-group-item">

			<div class = "col-sm-1">
				<img src="/modules/items/img/{{item.name}}.png" height="32" width="32">
			</div>
			<div class = "col-sm-2">
				<h3> {{item.name}}
					<small class="list-group-item-text" data-ng-bind="item.description"></small>
				</h3>
			</div>
			<div class = "col-sm-1">
				<h4> PHP {{item.price}} </h4>
			</div>

			<button type="button"
					class="col-sm-1 col-sm-offset-4 btn btn-default btn-md"
					data-ng-show="isUser()">
				<span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span> Add to Cart
			</button>

			<div class="col-sm-1 col-sm-offset-7" >
				<button type="button" class="btn btn-sm btn-warning"
						ng-click="itemsCtrl.modalUpdate('lg', item)"
						data-ng-show="isAdmin()">
					<i class="glyphicon glyphicon-edit"></i>
				</button>
				<button type="button" class="btn btn-sm btn-danger"
						ng-click="remove(item)"
						data-ng-show="isAdmin()">
					<i class="glyphicon glyphicon-trash"></i>
				</button>
			</div>
		</div>
    </div>
    <div class="alert alert-warning text-center" data-ng-hide="!items.$resolved || items.length">
    	No Items yet, why don't you <a href="/#!/items/create">create one</a>?
    </div>
</section>
