<section data-ng-controller="PostsController as postsCtrl">
	<!--<div class="page-header">-->
		<!--<h1>New Article</h1>-->
	<!--</div>-->
	<div class="col-md-10 col-md-offset-1 form-bg">
		<form name="postForm" class="form-horizontal" novalidate>
			<fieldset>
				<div data-ng-show="error" class="text-center text-danger">
					<div class="alert alert-danger" role="alert">
						<strong data-ng-bind="error"></strong>
					</div>
				</div>
				<div class="form-group">
					<div class="controls">
						<textarea name="content" data-ng-model="message" id="message" class="form-control"
								  cols="30" rows="6" placeholder="Message">
						</textarea>
					</div>
				</div>
				<div class="form-group text-center">
					<button type="buttom" class="btn-block btn-success" ng-click="create()">
						Post
					</button>
				</div>
			</fieldset>
		</form>
	</div>

	<!--Calling the /modules/posts/views/list-posts.client.view.html -->
	<post-list></post-list>

</section>
