<section data-ng-controller="PostsUpdateController as postsUpdateCtrl" >
	<div class="modal-header">
		<h3 class="modal-title">Edit Post</h3>
	</div>
    <div class="modal-body">
        <form name="editPostForm" class="form-horizontal" data-ng-submit="update()" novalidate>
            <fieldset>
				<div class="form-group">
					<div data-ng-show="error" class="text-center text-danger">
						<div class="alert alert-danger" role="alert">
							<strong data-ng-bind="error"></strong>
						</div>
					</div>
				</div>
				<!--<div class="form-group">-->
					<!--<div class="controls">-->
						<!--<textarea name="content" data-ng-model="post.message" id="message" class="form-control"-->
								  <!--cols="30" rows="6">-->
						<!--</textarea>-->
					<!--</div>-->
				<!--</div>-->
				<div class="form-group">
					<textarea data-ng-model="post.message" data-ck-editor></textarea>
				</div>
            </fieldset>
        </form>
    </div>
	<div class="modal-footer">
		<button class="btn btn-success" type="button"
				ng-click="postsUpdateCtrl.update(post); ok()"> Save & Close
		</button>
		<button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
	</div>
</section>
