/*.form-bg {*/
	/*background-color: #FFFFFF;*/
	/*border: 15px solid;*/
	/*border-radius: 15px;*/
	/*border-color: #FFFFFF;*/
	/*margin-top: 50px;*/
/*}*/

.post-divider-vertical {
	height: 95px;
	border-left: 1px solid gray;
	float: left;
	opacity: 0.5;
	margin: 0 15px;
}
