.post-divider-vertical {
	height: 95px;
	border-left: 1px solid gray;
	float: left;
	opacity: 0.5;
	margin: 0 15px;
}

.post-divider-top-horizontal {
	width: 100%;
	border: 1px solid gray;
	opacity: 0.5;
	margin-bottom: 2%;
}

.post-divider-bottom-horizontal {
	width: 100%;
	border: 1px solid gray;
	opacity: 0.5;
	margin-top: 2%;
}

.data-padding {
	margin-top: 5%;
}

